/EnterpriseApplication1/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-war/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-ejb/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-ejb/build/
/EnterpriseApplication1/EnterpriseApplication1-war/build/
/EnterpriseApplication1/build/
/EnterpriseApplication1/EnterpriseApplication1-ejb/dist/
/EnterpriseApplication1/EnterpriseApplication1-war/dist/
/EnterpriseApplication1/dist/
/test/nbproject/private/
/test/test-war/nbproject/private/
/test/test-ejb/nbproject/private/
/test/dist/
/test/build/
/test/test-war/dist/
/test/test-war/build/
/test/test-ejb/dist/
/test/test-ejb/build/